# Predict the response for test dataset

In [43]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_svmlight_file

## Loading "train.txt", "test.text" libSVM file

In [44]:
df=pd.read_csv('desktop/train.csv')
d=pd.read_csv('desktop/test.csv')
X_train, y_train = load_svmlight_file("desktop/train.txt")
X_test, Y_test= load_svmlight_file("desktop/test.txt")

## Creating dataframe 'X' and 'Y'

In [45]:
import scipy.sparse
X = pd.DataFrame.sparse.from_spmatrix(X_train)
Y = pd.DataFrame(y_train)

In [46]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3121 entries, 0 to 3120
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3121 non-null   float64
dtypes: float64(1)
memory usage: 24.5 KB

## Converting X datatype

In [22]:
X = X.sparse.to_dense()
X = X.astype(np.float64)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3121 entries, 0 to 3120
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3121 non-null   float64
 1   1       3121 non-null   float64
 2   2       3121 non-null   float64
 3   3       3121 non-null   float64
 4   4       3121 non-null   float64
 5   5       3121 non-null   float64
 6   6       3121 non-null   float64
 7   7       3121 non-null   float64
 8   8       3121 non-null   float64
 9   9       3121 non-null   float64
 10  10      3121 non-null   float64
 11  11      3121 non-null   float64
 12  12      3121 non-null   float64
 13  13      3121 non-null   float64
 14  14      3121 non-null   float64
 15  15      3121 non-null   float64
 16  16      3121 non-null   float64
 17  17      3121 non-null   float64
 18  18      3121 non-null   float64
 19  19      3121 non-null   float64
 20  20      3121 non-null   float64
 21  21      3121 non-null   float64
 22  22      3121 non-null   float64
 23  23      3121 non-null   float64
 24  24      3121 non-null   float64
 25  25      3121 non-null   float64
 26  26      3121 non-null   float64
 27  27      3121 non-null   float64
 28  28      3121 non-null   float64
 29  29      3121 non-null   float64
 30  30      3121 non-null   float64
 31  31      3121 non-null   float64
 32  32      3121 non-null   float64
 33  33      3121 non-null   float64
 34  34      3121 non-null   float64
 35  35      3121 non-null   float64
 36  36      3121 non-null   float64
 37  37      3121 non-null   float64
 38  38      3121 non-null   float64
 39  39      3121 non-null   float64
 40  40      3121 non-null   float64
 41  41      3121 non-null   float64
 42  42      3121 non-null   float64
 43  43      3121 non-null   float64
 44  44      3121 non-null   float64
 45  45      3121 non-null   float64
 46  46      3121 non-null   float64
 47  47      3121 non-null   float64
 48  48      3121 non-null   float64
 49  49      3121 non-null   float64
 50  50      3121 non-null   float64
 51  51      3121 non-null   float64
 52  52      3121 non-null   float64
 53  53      3121 non-null   float64
dtypes: float64(54)
memory usage: 1.3 MB

## Check null values

In [47]:
print("Missing values for X:\n", X.isna().sum())
print("Missing values for y:\n", y.isna().sum())

Missing values for X:
 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
dtype: int64
Missing values for y:
 0    0
dtype: int64

## Transforming data to numpy array

In [48]:
X_train2 = X.to_numpy()
y_train2 = y.to_numpy()

## Scaling the data

In [49]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train2 = sc.fit_transform(X_train2)

## Checking for imbalanced data

In [50]:
freq = np.unique(y_train2,return_counts=True)
y_train2 = y_train.ravel()

In [51]:
import scipy.sparse
X_test2 = pd.DataFrame.sparse.from_spmatrix(X_test)

## Converting X_test datatype to the same as y_test

In [52]:
X_test2 = X_test2.sparse.to_dense()
X_test2 = X_test2.astype(np.float64)
X_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       660 non-null    float64
 1   1       660 non-null    float64
 2   2       660 non-null    float64
 3   3       660 non-null    float64
 4   4       660 non-null    float64
 5   5       660 non-null    float64
 6   6       660 non-null    float64
 7   7       660 non-null    float64
 8   8       660 non-null    float64
 9   9       660 non-null    float64
 10  10      660 non-null    float64
 11  11      660 non-null    float64
 12  12      660 non-null    float64
 13  13      660 non-null    float64
 14  14      660 non-null    float64
 15  15      660 non-null    float64
 16  16      660 non-null    float64
 17  17      660 non-null    float64
 18  18      660 non-null    float64
 19  19      660 non-null    float64
 20  20      660 non-null    float64
 21  21      660 non-null    float64
 22  22      660 non-null    float64
 23  23      660 non-null    float64
 24  24      660 non-null    float64
 25  25      660 non-null    float64
 26  26      660 non-null    float64
 27  27      660 non-null    float64
 28  28      660 non-null    float64
 29  29      660 non-null    float64
 30  30      660 non-null    float64
 31  31      660 non-null    float64
 32  32      660 non-null    float64
 33  33      660 non-null    float64
 34  34      660 non-null    float64
 35  35      660 non-null    float64
 36  36      660 non-null    float64
 37  37      660 non-null    float64
 38  38      660 non-null    float64
 39  39      660 non-null    float64
 40  40      660 non-null    float64
 41  41      660 non-null    float64
 42  42      660 non-null    float64
 43  43      660 non-null    float64
 44  44      660 non-null    float64
 45  45      660 non-null    float64
 46  46      660 non-null    float64
 47  47      660 non-null    float64
 48  48      660 non-null    float64
 49  49      660 non-null    float64
 50  50      660 non-null    float64
 51  51      660 non-null    float64
 52  52      660 non-null    float64
 53  53      660 non-null    float64
dtypes: float64(54)
memory usage: 278.6 KB

## Transforming data to numpy array and scaling the test data

In [53]:
X_test2 = X_test2.to_numpy()
X_test2 = sc.transform(X_test2)

## Navie Bayes Classifier

In [54]:
# Import the Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
# Create Navie Bayes classifer object
classifier = GaussianNB()
# Train Navie Bayes Classifer
classifier.fit(X_train2,y_train2)

GaussianNB()

## Predict the response for test dataset

In [55]:
df_y_pred = classifier.predict(X_test2)

## check the accuracy

In [56]:
#Show the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
cm = confusion_matrix(Y_test,df_y_pred)
print('Confusion Matrix:')
print(cm)
print('Accuracy Score:')
accuracy_score(Y_test,df_y_pred)

Confusion Matrix:
[[536 124]
 [  0   0]]
Accuracy Score:

0.8121212121212121

In [57]:
print(type(df_y_pred))

<class 'numpy.ndarray'>

In [58]:
df_y_pred = pd.DataFrame(df_y_pred)

## print the output in out.csv

In [59]:
df_y_pred.to_csv("desktop/out.csv")